{% extends 'layouts/base_home.html' %}

{% block title %} weather LAB {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<!-- ***** Service Area Start ***** -->
<section class="fancy-services-area bg-img bg-overlay section-padding-100-70" style="background-image: url(/static/assets/fancy/img/bg-img/home1.png)">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading heading-white text-center">
                    <h2>Our Services</h2>
                    <p>We Are A Creative Digital Agency. Focused on Growing Brands Online</p>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Service -->
            <div class="col-12 col-md-4">
                <div class="single-service-area text-center wow fadeInUp" data-wow-delay="0.5s">
                    <i class="ti-ruler-pencil"></i>
                    <h5>Website Design</h5>
                    <p>The Fancy that recognize the talent and effort of the best web designers, developers and agencies in the world.</p>
                </div>
            </div>
            <!-- Single Service -->
            <div class="col-12 col-md-4">
                <div class="single-service-area text-center wow fadeInUp" data-wow-delay="1s">
                    <i class="ti-desktop"></i>
                    <h5>Website Development</h5>
                    <p>The Fancy that recognize the talent and effort of the best web designers, developers and agencies in the world.</p>
                </div>
            </div>
            <!-- Single Service -->
            <div class="col-12 col-md-4">
                <div class="single-service-area text-center wow fadeInUp" data-wow-delay="1.5s">
                    <i class="ti-announcement"></i>
                    <h5>Digital Marketing</h5>
                    <p>The Fancy that recognize the talent and effort of the best web designers, developers and agencies in the world.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Service Area End ***** -->

 <h1>this is service page</h1>

{% endblock content %}
